.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

#footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

body {
	margin-bottom: 50px; /*To prevent text from going under the footer*/
}

body {
  background: url('../img/backdrop.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
    background-color: rgba(72, 74, 69, 0.4);
    color: #fff;
}

.panel {
    background-color: rgba(255, 255, 255, 0.55);
}

.error {
    color: #fff;
}